.movie-image {
  display: block;
  width: 185px;
  height: 285px;
  margin: auto;
}

.movie-context > .title {
  text-align: center;
  font-weight: bold;
  color: rgb(85, 175, 235);
  padding: 1rem;
  font-size: 1.1rem;
}

.custom-card {
  padding: 1.5em;
  margin-left:20em; 
}