.movie-image {
  display: block;
  width: 100%;
  height: 28rem;
}

.movie-context > .title {
  text-align: center;
  font-weight: bold;
  color: rgb(85, 175, 235);
  padding: 1rem;
  font-size: 1.25rem;
}